.content-wrapper {
    padding: 3rem;
    color: rgb(196, 46, 46);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.content-item {
    display: flex;
    flex-direction: column;
    min-width: 14rem;
    max-width: 14rem;
    gap: 0.5rem;
    position: relative;
}

.content-item__type {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: aqua;
    padding: 0.5rem 0.3rem;
}

.content-item__image-wrapper {
    height: 21rem;
}

.content-item__image-wrapper__img {
    width: 100%;
    text-align: center;
}

.content-item__info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-weight: 700;
}

.content-item__info__title {
    color: rgb(196, 46, 46);
    text-decoration: none;
    transition: all 0.2s linear;
}

.content-item__info__title:hover {
    color: rgb(100, 13, 13);
    text-decoration: underline;
}

.content-item__info__description {
    color: rgb(65, 61, 61);
    font-size: 0.8rem;
}

.buttn {
    font-size: 14px;
    position: right top;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 12px;
    padding: 12px 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}